* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
/* 
==========
Header
==========
*/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
}
.logo-container {
}
.nav-item {
  display: inline-block;
  padding: 1rem;
}
